body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.quadro{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 50%;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    
}.senha{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    border-radius: 20px;
}
h1{
    text-align: center;
    color: #333;
}
button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    border-radius: 20px;
}
.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 20px;
}
.esqueci{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 20px;
}